<main class="quiz-card">
  <section class="quiz-card__section">
    <h2 class="quiz-card__heading">Question 1</h2>
    <p class="quiz-card__question">Wie viele Menschen leben in Deutschland?</p>
    <details class="quiz-card__details">
      <summary class="quiz-card__summary">Show answer</summary>
      <p class="quiz-card__answer">
        Es leben ca 83 Millionen Menschen in Deutschland.
      </p>
    </details>
    <ul class="quiz-card__list">
      <li class="quiz-card__li--item">politics</li>
      <li class="quiz-card__li--item">geography</li>
      <li class="quiz-card__li--item">germany</li>
    </ul>
    <div class="quiz-card__bookmark-on" role="button">
      <i class="fas fa-bookmark"></i>
    </div>
  </section>
  <section class="quiz-card__section">
    <h2 class="quiz-card__heading">Question 2</h2>
    <p class="quiz-card__question">Wer ist der reichste Mensch der Welt?</p>
    <details class="quiz-card__details">
      <summary class="quiz-card__summary">Show answer</summary>
      <p class="quiz-card__answer">
        Elon Musk ist der reichste Mensch der Welt.
      </p>
    </details>
    <ul class="quiz-card__list">
      <li class="quiz-card__li--item">money</li>
      <li class="quiz-card__li--item">business</li>
      <li class="quiz-card__li--item">investment</li>
    </ul>
    <div class="quiz-card__bookmark-off" role="button">
      <i class="fas fa-bookmark"></i>
    </div>
  </section>
  <section class="quiz-card__section">
    <h2 class="quiz-card__heading">Question 3</h2>
    <p class="quiz-card__question">Wie hoch ist der Mount Everest?</p>
    <details class="quiz-card__details">
      <summary class="quiz-card__summary">Show answer</summary>
      <p class="quiz-card__answer">Der Mount Everest ist 8849m hoch.</p>
    </details>
    <ul class="quiz-card__list">
      <li class="quiz-card__li--item">nature</li>
      <li class="quiz-card__li--item">geography</li>
      <li class="quiz-card__li--item">sports</li>
    </ul>
    <div class="quiz-card__bookmark-off" role="button">
      <i class="fas fa-bookmark"></i>
    </div>
  </section>
</main>
