<section class="form__section">
  <label for="form__add-question" class="form__label">Add a question</label>
  <textarea
    type="text"
    class="form__text"
    id="form__add-question"
    name="question"
  ></textarea>
</section>
<section class="form__section">
  <label for="form__add-answer" class="form__label">Add an answer</label>
  <textarea
    type="text"
    class="form__text"
    id="form__add-answer"
    name="answer"
  ></textarea>
</section>
<section class="form__section">
  <label for="form__add-tags" class="form__label">Add some tags</label>
  <input
    type="text"
    class="form__tags"
    id="form__add-tags"
    name="tags"
    placeholder="Divide tags by comma"
  />
</section>
<section class="form__button-section">
  <button class="form__button">Submit</button>
</section>
