.form {
  padding: 30px;
}

.form__section {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  position: relative;
}

.form__counter {
  position: absolute;
  bottom: 0;
  right: 10px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
}

.form__text {
  height: 100px;
  border: 1px solid black;
  border-radius: 3px;
  padding: 15px;
  font-family: sans-serif;
  font-size: 0.8 rem;
}

.form__tags {
  height: 50px;
  border: 1px solid black;
  border-radius: 3px;
  padding: 10px;
  font-family: sans-serif;
  font-size: 0.8em;
}

.form__button-section {
  text-align: center;
}

.form__button {
  padding: 10px 50px;
  background-color: green;
  border: none;
  border-radius: 3px;
  color: white;
  font-size: 1em;
  margin-top: 10px;
  cursor: pointer;
}
