.navigation {
  display: grid;
  background-color: green;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 48px;
  align-items: center;
  box-shadow: 0 0.5px 5px rgba(0, 0, 0, 0.5);
}

.navigation__link {
  font-size: 24px;
  color: white;
  align-self: center;
  margin: 5px 20% 0;
  text-align: center;
}

.navigation__underline {
  border-bottom: 3px solid white;
}
